### Import Libraries

In [121]:
import pandas as pd
import numpy as np

### Load Data

In [122]:
goose_data = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/goose/goose_rawdata.csv')

In [123]:
goose_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30962 entries, 0 to 30961
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 30962 non-null  object
 1   year                 30962 non-null  int64
 2   team                 30962 non-null  object
 3   league               30962 non-null  object
 4   goose_eggs           30962 non-null  int64
 5   broken_eggs          30962 non-null  int64
 6   mehs                 30962 non-null  int64
 7   league_average_gpct  30962 non-null  float64
 8   ppf                  30962 non-null  int64
 9   replacement_gpct     30962 non-null  float64
 10  gwar                 20929 non-null  float64
 11  key_retro            30962 non-null  object
dtypes: float64(3), int64(5), object(4)
memory usage: 2.8+ MB

### Code Profiling .. very useful

In [133]:
%%timeit
t1 = goose_data.query('(goose_eggs < 8 | broken_eggs > 3) & team == "SLN"')

7.99 ms ± 757 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [134]:
%%timeit
t2 = goose_data[((goose_data['goose_eggs'] < 8) | (goose_data['broken_eggs'] > 3)) 
           & (goose_data['team'] == 'SLN')]

6.3 ms ± 1.59 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
goose_data

,name,year,team,league,goose_eggs,broken_eggs,mehs,league_average_gpct,ppf,replacement_gpct,gwar,key_retro
0,Dolf Luque,1921,CIN,NL,3,1,0,0.752062,94,0.717062,0.068511,luqud101
1,Mike Kircher,1921,SLN,NL,0,1,0,0.749262,96,0.714262,-0.371416,kircm101
2,Slim Sallee,1921,NY1,NL,13,6,2,0.746462,98,0.711462,-0.269244,salls101
3,Lou North,1921,SLN,NL,10,4,0,0.749262,96,0.714262,0.000173,nortl101
4,Dana Fillingim,1921,BSN,NL,4,1,1,0.749262,96,0.714262,0.222919,filld101
...,...,...,...,...,...,...,...,...,...,...,...,...
30957,Kirby Yates,2017,LAA,AL,0,1,0,0.746109,96,0.711109,-0.369777,yatek001
30958,Gabriel Ynoa,2017,BAL,AL,0,0,1,0.741909,99,0.706909,NaN,ynoag001
30959,Chris Young,2017,KC,AL,1,0,0,0.737709,102,0.702709,0.154591,younc003
30960,Brad Ziegler,2017,MIA,NL,12,3,3,0.763674,93,0.728674,0.556342,ziegb001
30961,Tony Zych,2017,SEA,AL,8,5,3,0.744709,97,0.709709,-0.637635,zycht001

In [8]:
## get unique values of a certain column
len(goose_data['name'].unique())

6863

In [16]:
## a frequency table of value counts
team_counts = goose_data['team'].value_counts()

In [12]:
type(team_counts)

pandas.core.series.Series

In [14]:
team_counts['DET']

1314

In [15]:
team_counts

PIT    1378
PHI    1377
CLE    1375
SLN    1367
CHN    1345
BOS    1340
CIN    1322
DET    1314
NYA    1305
CHA    1275
BAL     959
NYN     859
SFN     856
HOU     843
LAN     828
ATL     827
MIN     822
SDN     779
MIL     773
TEX     758
KCA     753
OAK     749
SEA     668
TOR     661
MON     537
BRO     474
CAL     464
COL     453
WS1     434
NY1     426
ARI     367
PHA     360
BSN     359
SLA     347
FLO     344
TBA     336
ANA     318
KC1     255
WAS     227
MLN     182
WS2     177
MIA     115
LAA      86
SE1      24
TB       18
NYM      17
CHW      16
KC       15
NYY      15
LAD      14
SF       13
STL      13
CHC      12
SD       11
Name: team, dtype: int64

In [27]:
## Load the mtcars dataset
cars = pd.read_csv('/Users/csstnns/Desktop/Python Data Course - Oct2020/Day 2/mtcars.csv')

In [18]:
## check size
cars.shape

(32, 12)

In [29]:
cars.rename(columns={'Unnamed: 0':'make_model'}, inplace=True)
cars.columns

Index(['make_model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [31]:
## create a new column in the DF and populate it with index values
cars['original_index'] = cars.index

In [69]:
cars.head()

,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,original_index
make_model,,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
Datsun 710,Datsun 710,22.8,5,108.0,93,3.85,2.320,18.61,1,1,4,1,2
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4

In [33]:
## check if all values in this column are unique
if len(cars['make_model'].unique()) == cars.shape[0]:
    cars.index = cars['make_model']

In [46]:
cars.index

Index(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive',
       'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230',
       'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC',
       'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial',
       'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona',
       'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird',
       'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L',
       'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'],
      dtype='object', name='make_model')

In [54]:
## select/filter by row (index) and column labels
temp = cars.loc[['Camaro Z28','Duster 360'],['gear','carb']]

In [55]:
temp.loc['Duster 360','gear'] = 5

In [56]:
cars.loc[['Camaro Z28','Duster 360'],['gear','carb']]

            gear  carb
make_model
Camaro Z28     3     4
Duster 360     3     4

In [57]:
temp

            gear  carb
make_model
Camaro Z28     3     4
Duster 360     5     4

In [61]:
temp1 = cars.iloc[1:5,[3,5,8]]

In [65]:
temp1

                    disp  drat  vs
make_model
Mazda RX4 Wag      160.0  3.90   2
Datsun 710         108.0  3.85   1
Hornet 4 Drive     258.0  3.08   1
Hornet Sportabout  360.0  3.15   0

In [64]:
temp1.iloc[0,2] = 2

In [66]:
cars.iloc[1:5,[3,5,8]]

                    disp  drat  vs
make_model
Mazda RX4 Wag      160.0  3.90   0
Datsun 710         108.0  3.85   1
Hornet 4 Drive     258.0  3.08   1
Hornet Sportabout  360.0  3.15   0

In [71]:
cars.iat[2,5]

3.85

In [72]:
cars.at['Datsun 710','gear']

4

In [80]:
cars

,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,original_index
make_model,,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
Datsun 710,Datsun 710,22.8,5,108.0,93,3.85,2.320,18.61,1,1,4,1,2
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,5
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,6
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,7
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,8
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,9
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,10
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,11
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,12
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,13
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,14
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,15
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,16
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,17
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,18
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,19
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,20
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,21
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,22
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,23
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,24
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,25
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,26
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,27
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,28
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,29
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,30
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,31

In [74]:
temp2 = cars[(cars['mpg'] > 15) & (cars['cyl'] < 6)]

In [79]:
temp2

,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,original_index
make_model,,,,,,,,,,,,,
Datsun 710,Datsun 710,22.8,5,108.0,93,3.85,2.320,18.61,1,1,4,1,2
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,21.00,1,0,4,2,7
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,8
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,17
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,18
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,19
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,20
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,25
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,26
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,27
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,31

In [77]:
temp2.loc['Merc 240D', 'qsec'] = 21.0

/Users/csstnns/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [88]:
## apply some math on some columns and save result in new column
cars['qsec_times_drat'] = (cars['qsec'] * cars['drat']) + (cars['disp']/cars['cyl'])

In [96]:
## get a list of column names
column_list = list(cars.columns)
column_list

['make_model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb',
 'original_index',
 'qsec_times_drat',
 'row_avg']

In [97]:
## drop column carb from the list of column names
column_list.remove('carb')
## append adds it to the ends of the list
column_list.append('carb')

['make_model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'original_index',
 'qsec_times_drat',
 'row_avg']

In [102]:
## use insert to insert column at a specific index in the list
column_list.insert(10,'carb')
column_list

['carb',
 'make_model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'carb',
 'am',
 'gear',
 'original_index',
 'qsec_times_drat',
 'row_avg']

In [116]:
column_list = list(set(column_list))

['make_model',
 'carb',
 'disp',
 'wt',
 'vs',
 'gear',
 'qsec_times_drat',
 'mpg',
 'hp',
 'row_avg',
 'original_index',
 'cyl',
 'am',
 'drat',
 'qsec']

In [103]:
## reorder the columns of the DF according to the new ordered list
cars = cars[column_list]
cars

,carb,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb,am,gear,original_index,qsec_times_drat,row_avg
make_model,,,,,,,,,,,,,,,,
Mazda RX4,4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,4,1,4,0,90.860667,30.244154
Mazda RX4 Wag,4,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,4,1,4,1,93.044667,30.551769
Datsun 710,1,Datsun 710,22.8,5,108.0,93,3.85,2.320,18.61,1,1,1,4,2,93.248500,25.709885
Hornet 4 Drive,1,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,0,3,3,102.875200,37.616169
Hornet Sportabout,2,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,0,3,4,98.613000,49.840231
Valiant,1,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,0,3,5,93.307200,34.334400
Duster 360,4,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,4,0,3,6,95.846400,54.905108
Merc 240D,2,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,0,4,7,110.475000,27.060000
Merc 230,2,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,0,4,8,124.968000,30.564462
Merc 280,4,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,4,0,4,9,99.669333,33.168923
Merc 280C,4,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,4,0,4,10,102.021333,33.365231
Merc 450SE,3,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,3,0,3,11,87.893000,44.242923
Merc 450SL,3,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,3,0,3,12,88.507000,44.425538
Merc 450SLC,3,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,3,0,3,13,89.735000,44.470000
Cadillac Fleetwood,4,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,4,0,3,14,111.681400,61.172415
Lincoln Continental,4,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,4,0,3,15,110.960000,61.161846
Chrysler Imperial,4,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,4,0,3,16,111.266600,61.381662
Fiat 128,1,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,1,4,17,99.112600,23.868277
Honda Civic,2,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,1,4,18,110.228600,23.420662
Toyota Corolla,1,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,1,4,19,101.753000,23.841000
Toyota Corona,1,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,0,3,20,104.062000,28.293231
Dodge Challenger,2,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,0,3,21,86.311200,45.170092
AMC Javelin,2,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,0,3,22,92.495000,44.813846
Camaro Z28,4,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,4,0,3,23,101.229300,55.904562
Pontiac Firebird,2,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,0,3,24,102.514000,54.437615
Fiat X1-9,1,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,1,4,25,96.862000,23.871308
Porsche 914-2,2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,1,5,26,104.056000,28.657769
Lotus Europa,2,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,1,5,27,87.488000,28.030462
Ford Pantera L,4,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,4,1,5,28,105.065000,58.452308
Ferrari Dino,6,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,6,1,5,29,80.276667,35.746154
Maserati Bora,8,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,8,1,5,30,89.309000,59.722615
Volvo 142E,2,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,2,1,4,31,106.696000,30.487385

In [86]:
## compute mean of rows and add it as a new column
## notice the axis = 1 .. 0 for columns
cars['row_avg'] = cars.mean(axis=1)

In [110]:
## remove duplicate rows .. by default works on entire row
## possible to use a subset of the columns
cars.drop_duplicates(subset=['cyl'], keep='last')

,carb,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb,am,gear,original_index,qsec_times_drat,row_avg
make_model,,,,,,,,,,,,,,,,
Datsun 710,1,Datsun 710,22.8,5,108.0,93,3.85,2.32,18.61,1,1,1,4,2,93.248500,25.709885
Ferrari Dino,6,Ferrari Dino,19.7,6,145.0,175,3.62,2.77,15.50,0,6,1,5,29,80.276667,35.746154
Maserati Bora,8,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.60,0,8,1,5,30,89.309000,59.722615
Volvo 142E,2,Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.60,1,2,1,4,31,106.696000,30.487385

In [120]:
cars.drop(['Ferrari Dino','Volvo 142E'], axis=0)

,carb,make_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,carb,am,gear,original_index,qsec_times_drat,row_avg
make_model,,,,,,,,,,,,,,,,
Mazda RX4,4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,4,1,4,0,90.860667,30.244154
Mazda RX4 Wag,4,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,4,1,4,1,93.044667,30.551769
Datsun 710,1,Datsun 710,22.8,5,108.0,93,3.85,2.320,18.61,1,1,1,4,2,93.248500,25.709885
Hornet 4 Drive,1,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,1,0,3,3,102.875200,37.616169
Hornet Sportabout,2,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,0,3,4,98.613000,49.840231
Valiant,1,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,1,0,3,5,93.307200,34.334400
Duster 360,4,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,4,0,3,6,95.846400,54.905108
Merc 240D,2,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,2,0,4,7,110.475000,27.060000
Merc 230,2,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,2,0,4,8,124.968000,30.564462
Merc 280,4,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,4,0,4,9,99.669333,33.168923
Merc 280C,4,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,4,0,4,10,102.021333,33.365231
Merc 450SE,3,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,3,0,3,11,87.893000,44.242923
Merc 450SL,3,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,3,0,3,12,88.507000,44.425538
Merc 450SLC,3,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,3,0,3,13,89.735000,44.470000
Cadillac Fleetwood,4,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,4,0,3,14,111.681400,61.172415
Lincoln Continental,4,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,4,0,3,15,110.960000,61.161846
Chrysler Imperial,4,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,4,0,3,16,111.266600,61.381662
Fiat 128,1,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,1,4,17,99.112600,23.868277
Honda Civic,2,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,2,1,4,18,110.228600,23.420662
Toyota Corolla,1,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,1,4,19,101.753000,23.841000
Toyota Corona,1,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,1,0,3,20,104.062000,28.293231
Dodge Challenger,2,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,0,3,21,86.311200,45.170092
AMC Javelin,2,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,0,3,22,92.495000,44.813846
Camaro Z28,4,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,4,0,3,23,101.229300,55.904562
Pontiac Firebird,2,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,0,3,24,102.514000,54.437615
Fiat X1-9,1,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,1,4,25,96.862000,23.871308
Porsche 914-2,2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,2,1,5,26,104.056000,28.657769
Lotus Europa,2,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,2,1,5,27,87.488000,28.030462
Ford Pantera L,4,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,4,1,5,28,105.065000,58.452308
Maserati Bora,8,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,8,1,5,30,89.309000,59.722615